{% extends "base.html" %}

{% block title %}Manage Note Templates{% endblock %}

{% block submenu %}
	<div class="pull-right form-inline">
		<div class="btn-group">
			<a href="{% url "template-add" %}" class="btn btn-success" role="button"><i class="fa fa-plus"></i> Add</a>
		</div>
	</div>
{% endblock %}


{% block content %}
{% load custom_tags %}

{% load mptt_tags %}
<ul>
    {% recursetree object_list %}
        <li>
	    {{ node.title }} 
	    <a href='{% url "template-update" pk=node.id %}'><i class="fa fa-edit fa-fw"></i></a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
<!--
<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
	<thead>
	<tr>
		<th>Title</th>
	</tr>
	</thead>
	<tbody>
	{% for template in object_list %}
	<tr>
		<td class="title"><a href="{% url "template-update" pk=template.id %}">{{ template.title }}</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
-->

{% endblock %}
