{% extends "base.html" %}

{% load custom_tags %}

{% block title %}
{% if form.initial.id != None %}Edit{% else %}Add{% endif %} Note
{% endblock %}


{% block submenu %}
{% if project_id %}

{% load mptt_tags %}


	<div class="pull-right form-inline">
		{% if form.initial.id == None %}
		<select class="form-control" id="template">
		<option></option>
		    {% for node,structure in form.templates|tree_info:"ancestors" %}
		        {% if node.is_child_node %}
		            <option value="{{ node.pk }}">
		                {{ structure.ancestors|tree_path }} :: {{ node }}
		            </option>
			{% else %}
				<option value="{{ node.pk }}"> {{ node }} </option>
		        {% endif %}
		    {% endfor %}
		</select>
		{% endif %}

		<div class="btn-group">
			<button type="button" class="btn btn-success"  onclick="document.getElementById('noteform').submit();">Save</button>
			{% if form.initial.id %}
			<a href="{% url "project-note-delete" project_id=project_id note_id=form.initial.id %}" class="btn btn-danger" role="button" onclick="return confirm('Are you sure you want to delete this note?');">Delete</a>
			{% endif %}
		</div>
	</div>
{% endif %}
{% endblock %}

{% block content %}
<form role="form" method="post" action="{{ action }}" id="noteform">
	{% csrf_token %}
	{% if form.non_field_errors %}
	<ul>
		{% for error in form.non_field_errors %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% for field in form %}
		<div class="form-group">
			<div>
				{% if field.name == 'note'%}
				{{ field.label_tag }} <br />{{ field }}
				{% elif field.name == '_ref_node_id' %}
				{{ field.label_tag}} {{ field|filterproject:project_id|addclass:'form-control' }}
				{% elif field.field.widget.input_type == 'checkbox' %}
				{{ field.label_tag }} {{field|addclass:'' }}
				{% elif field.is_hidden == True %}
				{{ field }}
				{% else %}
				{{ field.label_tag }} {{ field|addclass:'form-control' }}
				{% endif %}
			</div>
			<div id="{{ field.auto_id }}_errors">
				{{ field.errors }}
			</div>
		</div>
	{% endfor %}
<!--
	<button type="submit" class="btn btn-success">Save</button>
	{% if form.initial.id %}
	<a href="{% url "project-note-delete" project_id=project_id note_id=form.initial.id %}" class="btn btn-danger" role="button">Delete</a>
	{% endif %}
-->
</form>

  <script>
    $("#template").change(function () {
      var template_id = $(this).val();

      $.ajax({
        url: '/template/json',
        data: {
          'template_id': template_id
        },
        dataType: 'json',
        success: function (data) {
		data = JSON.parse(data);
		console.log(data[0].fields.note);
		$("#id_note").summernote("code", data[0].fields.note);
		$("#id_title").val(data[0].fields.title);
		$("#template").val('');
        }
      });

    });
  </script>
{% endblock %}
