{% extends "base.html" %}

{% block title %}
Upload Note Data
{% endblock %}



{% block content %}
{% load custom_tags %}
<pre>
{{ data }}
</pre>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <select name="import_type">
	    {% for type in import_types %}
	    <option>{{type}}</option>
	    {% endfor %}
    </select>
    <select name="structure">
	    {% for structure in data_structures %}
	    <option>{{structure}}</option>
	    {% endfor %}
    </select>

    <select name="parentid">
    {% for choice in notes.choices %}
    <option value="{{ choice.0 }}">{{ choice.1}}</option>
    {% endfor %}
    </select>

    
    <button type="submit">Upload</button>
  </form>

{% endblock %}
