{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
	<head>

		<script src="{% static 'js/jquery.min.js' %}"></script>
{# Load the tag library #}
{% load bootstrap3 %}
{% load custom_tags %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<script src="{% static 'summernote/summernote.min.js'%}"></script>
<script src="{% static 'js/summernote-ext-checkbox.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "summernote/summernote.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "summernote/django_summernote.css" %}">


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Attero</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin-2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/morris.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

		<a href="{% url "index" %}">
			<img src="{% static 'img/logo.png' %}">
		</a><small>v0.01alpha</small>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
		<li class="dropdown">
			<a href="{% url "dashboard" %}">
			    <i class="fa fa-home fa-fw"></i> Dashboard
	            </a>
		</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-folder-open fa-fw"></i> Projects <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
			<li>
                            <a href="{% url "project-list" %}"><i class="fa fa-list fa-fw"></i> Manage Projects</a>
                        </li>
			<li class="divider"></li>
			{% projects_list%}
                    </ul>
                    <!-- /.dropdown-projects -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-folder-open fa-fw"></i> Templates <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
			<li>
                            <a href="{% url "template-list" %}"><i class="fa fa-list fa-fw"></i> Note Templates</a>
                        </li>
			<li>
                            <a href="{% url "report-template-list" %}"><i class="fa fa-list-alt fa-fw"></i> Report Templates</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-projects -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> {{request.user.username}} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
			<li><a href="{% url "profile" %}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
			<li><a href="{% url "settings" %}"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
			<li><a href="{% url "password" %}"><i class="fa fa-user fa-fw"></i> Change Password</a>
                        <li class="divider"></li>
			<li><a href="{% url "logout" %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
<!--
                        <li>
				<a href="#"><i class="fa fa-clock-o fa-fw"></i> Time Entry</a>
                        </li>
                        <li>
				<a href="{% url "task-list" %}"><i class="fa fa-check-square-o fa-fw"></i> All Tasks</a>
                        </li>
			<li>
			<a href="#"><i class="fa fa-list fa-fw"></i> Open Projects <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					{% projects_list %}
				</ul>
			</li>
			<li>&nbsp;</li>
-->
		    </ul>
		    {% if project_id %}
			<div class="panel panel-info">
				<div class="panel-heading">

						{% project_data project_id %} <br />
						<a href="{% url "project-note-add" project_id=project_id %}"><i class="fa fa-edit fa-fw"></i> Add Note</a> / 
						<a href="{% url "project-note-upload" project_id=project_id %}"><i class="fa fa-cloud-upload fa-fw"></i> Upload</a><br />
						<a href="{% url "project-report" project_id=project_id %}" target="_blank"><i class="fa fa-book fa-fw"></i> Report</a> / 
						<a href="{% url "project-task-list" project_id=project_id %}"><i class="fa fa-tasks fa-fw"></i> Tasks</a>
				</div>
				<div class="panel-boy">
					    <ul class="nav">
						{% show_notes project_id %}
			                    </ul>
				</div>
			</div>

		    {% endif %}
		    {% block notes %}{% endblock %}
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
			<h1 class="page-header">
				{% block title %}{% endblock %}
				{% block submenu %}{% endblock %}
			</h1>
                </div>

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

	    {% block content %}
	     {% endblock %}

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'js/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'js/raphael.min.js' %}"></script>
    <script src="{% static 'js/morris.min.js' %}"></script>
    <script src="{% static 'js/morris-data.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>


</body>

</html>

