{% extends "base.html" %}

{% block title %}List Projects{% endblock %}

{% block content %}
{% load custom_tags %}

<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
	<thead>
	<tr>
		<th>Title</th>
		<th>Client</th>
		<th>Short Name</th>
		<th>Status</th>
	</tr>
	</thead>
	<tbody>
	{% for project in object_list %}
	<tr>
		<td class="title"><a href="{% url "project-update" pk=project.id %}">{{ project.title }}</a></td>
		<td class="client">{{ project.client_name }}</td>
		<td class="shortname">{{ project.short_name }}</td>
		<td>{{ project.status }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
